{% extends 'base.html' %}
{% block body %}
<div class="main">
    <h2>Share Music</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/study_music">
        <label for="music_link">Music Link (Paste YouTube Link):</label>
        <input type="text" id="music_link" name="music_link" required>
        <label for="music_link">Add Music Name:</label>
        <input type="text" id="music_name" name="music_name" required>

        <button type="submit">Share Notes</button>
    </form>

    <p>Return to <a href="{{ url_for('dashboard') }}">Dashboard</a>.</p>
</div>
{% endblock %}